.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.title {
    color: var(--tg-theme-text-color);
    text-align: center;
    text-underline: var(--tg-theme-text-color);
}

.button {
    border: none;
    background: none;
    width: 30%;
    font-size: 0.8em;
}
